@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap'); /* If using Google Fonts */

body {
  font-family: 'DM Sans', sans-serif;
} 

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
} 

.auth-page {
  overflow: hidden;
} 

/* Reusable Component Styles */
.btn-primary {
  @apply w-36 sm:w-36 lg:w-36 flex items-center justify-center
   bg-algaeGreen-300 dark:bg-algaeGreen-600 text-codGray-800 dark:text-codGray-50 text-sm
    border border-algaeGreen-500 dark:border-algaeGreen-500
    hover:bg-algaeGreen-400 dark:hover:bg-algaeGreen-700
    px-4 py-2 rounded-md
    font-medium
    transition-colors duration-200;
}

.btn-primary-sm {
  @apply w-24 sm:w-24 lg:w-24 flex items-center justify-center
   bg-algaeGreen-300 dark:bg-algaeGreen-600 text-codGray-800 dark:text-codGray-50 text-xs
    border border-algaeGreen-500 dark:border-algaeGreen-500
    hover:bg-algaeGreen-400 dark:hover:bg-algaeGreen-700
    px-2 py-2 rounded-md
    font-normal
    transition-colors duration-200;
}

.btn-secondary {
  @apply w-36 sm:w-36 lg:w-40 flex items-center justify-center
   bg-codGray-50 dark:bg-codGray-800 text-codGray-900 dark:text-codGray-50 text-sm
    hover:bg-codGray-100 dark:hover:bg-codGray-700
    border border-codGray-300 dark:border-codGray-400
    px-4 py-2 rounded-md
    font-medium
    transition-colors duration-200;
}

.main-heading {
  @apply text-xl phone:text-3xl tablet:text-3xl laptop:text-4xl desktop:text-4xl
  font-bold dark:text-white mb-2 tablet:mb-3
  leading-tight tracking-tight;
}

.description-text {
  @apply mb-4 sm:mb-6
  text-xl phone:text-xs tablet:text-base laptop:text-lg desktop:text-lg text-codGray-900 dark:text-codGray-50;
}

.span-text {
  @apply text-algaeGreen-400;
}

.icon-base {
  @apply w-3 h-3 sm:w-4 sm:h-4 text-algaeGreen-500 
    hover:text-algaeGreen-600
    transition-colors duration-200;
}

.input-field {
  @apply bg-background-light dark:bg-background-dark
    border border-codGray-200 dark:border-codGray-700
    rounded-md px-3 py-2
    focus:outline-none focus:ring-2 focus:ring-algaeGreen-500;
}

/* Add more reusable classes as needed */