@import url('https://fonts.googleapis.com/css2?family=Livvic&display=swap'); /* If using Google Fonts */

body {
  font-family: 'DM Sans', sans-serif;
} 

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
} 

.auth-page {
  overflow: hidden;
} 